<main class="flex justify-center items-center h-[5rem] w-screen">

    <!-- Mobile Menu -->
    <section class="flex lg:hidden w-full h-full relative p-4">
        <app-toggle-burger 
            (click)="toggleMobileMenu()" 
            [check]="isChecked" 
            [disable]="isDisabled">
        </app-toggle-burger>

        <div *ngIf="mobileMenu" #animeMobileToggle
            class="bg-transparent w-screen h-screen animate__animated animate__faster absolute top-0 left-0 pt-2 flex items-center justify-center z-10 bg-zinc-300 dark:bg-zinc-900"
            [ngClass]="{'animate__slideInLeft': mobileMenu}">

            <nav class="flex flex-col justify-center items-center gap-3 text-xl text-zinc-900 dark:text-zinc-300">
                <a *ngFor="let link of links" [routerLink]="link.path" (click)="toggleMobileMenu()"
                    [ngClass]="isActive(link.path) ? 'bg-zinc-900 text-zinc-300 dark:bg-zinc-300 dark:text-zinc-900' : 'hover:bg-zinc-800/20 dark:hover:bg-zinc-500/20'"
                    class="py-1 px-5 rounded-l-full rounded-r-full duration-300 min-w-[10rem] h-full flex justify-center items-center pb-1.5">
                    {{ link.label }}
                </a>
            </nav>
        </div>
    </section>

    <!-- Desktop Menu -->
    <section class="lg:flex hidden justify-between w-full h-full py-4 px-2 xl:px-20 mt-2">
        <div class="h-full w-[20rem] flex items-center justify-start">
            <a routerLink="/">
                <img src="testt.svg" class="h-[5em] w-[5rem] cursor-pointer duration-300 scale-95 hover:scale-100" />
            </a>
        </div>

        <nav
            class="font-semibold flex justify-center items-center gap-2 text-lg p-1 h-full rounded-full dark:bg-zinc-700/20 dark:text-zinc-300 bg-zinc-800/20 text-zinc-900">
            <a *ngFor="let link of links" [routerLink]="link.path"
                [ngClass]="isActive(link.path) ? 'bg-zinc-900 text-zinc-300 dark:bg-zinc-300 dark:text-zinc-900' : 'hover:bg-zinc-800/20 dark:hover:bg-zinc-500/20'"
                class="py-1 px-5 rounded-l-full rounded-r-full duration-500 min-w-[5rem] h-full flex justify-center items-center pb-1.5">
                {{ link.label }}
            </a>
        </nav>

        <div class="h-full w-[20rem] flex items-center justify-end gap-1">
            <button
                class="rounded-full h-[3rem] w-[3rem] flex items-center justify-center border-1 border-transparent duration-500 dark:bg-zinc-700/20 dark:text-zinc-300 dark:hover:bg-zinc-500/40 bg-zinc-800/20 text-zinc-900 hover:bg-zinc-800/40">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="1.5"
                    stroke="currentColor" class="size-6 stroke-zinc-900 dark:stroke-zinc-300">
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
            </button>
            <a routerLink="/login"
                class="text-lg font-semibold min-w-[5rem] h-full py-1 px-5 rounded-l-full rounded-r-full border-1 duration-500 flex justify-center items-center dark:bg-zinc-700/20 dark:text-zinc-300 dark:hover:bg-zinc-500/40 bg-zinc-800/20 text-zinc-900 border-transparent hover:bg-zinc-800/40">
                Login
            </a>
            <a routerLink="/signup"
                class="text-lg font-semibold min-w-[5rem] h-full py-1 px-5 rounded-l-full rounded-r-full border-1 duration-500 flex justify-center items-center dark:bg-zinc-300 dark:text-zinc-900 dark:hover:border-zinc-300 dark:hover:text-zinc-300 dark:hover:bg-zinc-900 text-zinc-300 bg-zinc-900 border-zinc-900 hover:bg-transparent hover:text-zinc-900 hover:border-zinc-900">
                Sign up
            </a>
        </div>
    </section>

    <app-toggle-dm></app-toggle-dm>

</main>